# networkx 3.4.2 requires python >=3.10
# Current version of Python is 3.13.3 as of 2025-04-14
networkx==3.4.2
matplotlib==3.10.3
# Install pygraphviz
#  sudo apt-get install graphviz graphviz-dev
#  pip install pygraphviz
# brew install graphviz
# pip install pygraphviz
# pip install --config-settings="--global-option=build_ext" \
#              --config-settings="--global-option=-I$(brew --prefix graphviz)/include/" \
#              --config-settings="--global-option=-L$(brew --prefix graphviz)/lib/" \
#              pygraphviz
pygraphviz==1.14